@import "tailwindcss";

::-webkit-scrollbar{
    display: none;
}

body{
    -ms-overflow-style: none;
    scrollbar-width: none;
}

@keyframes slideUp {
  from {
    opacity: 0;
    transform: translateY(8px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-slideUp {
  animation: slideUp 0.25s ease-out;
}